* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f7fa;
  padding: 40px 20px 40px 20px;
  font-family: Montserrat;
}

.wrapper {
  background-color: #fff;
  display: flex;
  max-width: 1200px;
  margin: 0 auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.sidebar {
  background: #1e2939;
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.my_foto {
  width: 370px;
}

.about_me_container {
  padding-left: 90px;
  padding-right: 90px;
  padding-top: 110px;
  padding-bottom: 110px;
}

.contacts_container {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contacts_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-bottom: 20px;
}

.contacts_link {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #434c5a;
}

.contacts_link_type {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  color: #fff;
  margin-right: 10px;
}

.tech_skills_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
  color: #fff;
}

.tech_skills_container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.tech_skills_item {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: #ff6b08;
  margin-left: 15px;
}

.tech_skills_text {
  color: #b0b4ba;
}

.soft_skills_container {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 55px;
}

.soft_skills_item {
  margin-left: 15px;
  color: #ff6b08;
}

.soft_skills_title {
  color: #fff;
  margin-bottom: 20px;
}

.soft_skills_text {
  color: #b0b4ba;
}

.profession {
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 23px;
}

.name {
  font-size: 45px;
  font-weight: 700;
  line-height: 89px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 24px;
}

.info_container {
  margin-bottom: 65px;
}

.about_me_title {
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
}

.projects_link {
  width: 189px;
  height: 63px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.tech_name {
  width: 138px;
  height: 62px;
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.dots {
  color: #bebebe;
  font-weight: 100;
}

.projects_item {
  font-weight: 700;
  margin-left: 17px;
}

.projects_container {
  margin-bottom: 55px;
}

.profession_title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 15px;
}

.profession_company {
  color: #ff6c0a;
  margin-top: 15px;
}

.profession_time {
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
  color: #a8a8a8;
}

.profession_divider {
  color: #000;
}

.profession_duties {
  margin-top: 14px;
  margin-bottom: 30px;
  list-style-position: inside;
}

.profession_duties_item {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.education_qualification {
  margin-top: 15px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}

.my_projects {
  /* list-style-position: inside; */
  -moz-column-count: 2; /* Firefox */
  -webkit-column-count: 2; /* Safari and Chrome */
  column-count: 2;
  list-style-type: circle;
  /* height: 200px; */
}

.pm_responsibilities {
  list-style-type: '- ';
}
